@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-10 18:25:55
 * @version $Id$
 */
/* 组件js */
.calender-w{
	padding:10px;
	border:1px solid #85BEE5;
	font-family: "微软雅黑";
	font-size:14px;
	-webkit-user-select:none;
}
.calender-w a{
	text-decoration: none;
}
.calender-w .calender-ctx{
	width:183px;
}
.calender-w .calender-ctx .calender-head{
	position: relative;
	width:123px;
	padding-right: 30px;
	padding-left:30px;
	height:24px;
}
.calender-w .calender-ctx .calender-head p{
	text-align: center;
	line-height: 24px;
}
.calender-w .calender-ctx .calender-head .prevyear,.calender-w .calender-ctx .calender-head .prevmonth,.calender-w .calender-ctx .calender-head .nextyear,.calender-w .calender-ctx .calender-head .nextmonth{
	cursor: pointer;
    height: 9px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAmCAMAAADgMgttAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRF0LeH5ebmzczMZmZm////gzsSCAAAAAV0Uk5T/////wD7tg5TAAAAbUlEQVR42uxRWw6AMAirdvc/swok7gHN/vyxCWO0aYAN7QYjGjmUCMpoMlLUMMrCtMhOICivpwsooJ26p55W71niF78SzwSvuBp6cfFtO48Jo/jk/sidMBRO+FE4E3HTqXrKaZM91QuJX7kEGAAf7Q5DH0xF8AAAAABJRU5ErkJggg==) no-repeat;
    overflow: hidden;
    position: absolute;
    top: 8px;
}
.calender-w .calender-ctx .calender-head .prevyear{
	left: 4px;
	width: 9px;
}
.calender-w .calender-ctx .calender-head .prevmonth{
	width: 5px;
    background-position: -9px 0;
    left: 20px;
}
.calender-w .calender-ctx .calender-head .nextyear{
	width: 9px;
    background-position: -19px 0;
    right: 5px;
}
.calender-w .calender-ctx .calender-head .nextmonth{
	width: 5px;
    background-position: -14px 0;
    right: 20px;
}
.calender-w .calender-ctx .calender-title{
	overflow: hidden;
	_height:1%;
}
.calender-w .calender-ctx .calender-title a{
	float: left;
	width:25px;
	margin-left:1px;
	text-align: center;
	color:#333;
}
.calender-w .calender-ctx .calender-date{
	overflow: hidden;
	_height:1%;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALcAAACLAQMAAAAZGJoKAAAAA3NCSVQICAjb4U/gAAAABlBMVEXk5OT///+sRXE5AAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEyLzE3LzExi0PmCQAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAADpJREFUSInt0iEOACAMBMH+nKfyDAxk63AoTJPuuRu9EY8NmLDgAPdsvanbiW4nup3odqJXczvRPzpJbZwg9hOIR3EAAAAASUVORK5CYII=);
	clear: both;
    width: 183px;
    height: 139px;
    font-weight: 700;
}
.calender-w .calender-ctx .calender-date a{
	float: left;
    width: 25px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    margin: 1px 0 0 1px;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.calender-w .calender-ctx .calender-date a.live{
	color:#333;
	cursor: pointer;
}
.calender-w .calender-ctx .calender-date a.disabled{
	color:#bac9cf;
}
.calender-w .calender-ctx .calender-date a.tody{
	color:#FFF;
	background-color: #cc9b29;
}
.calender-w .calender-ctx .calender-date a:hover{
	color: white;
	background: #6fa3ff;
}
.calender-w .calender-ctx .calender-date a.tody:hover{
	background: rgb(204, 155, 41);
}